NEXT_PUBLIC_SHOPIFY_DOMAIN=your-store.myshopify.com
NEXT_PUBLIC_SHOPIFY_HYPERMOBILE_VARIANT_ID=
NEXT_PUBLIC_SHOPIFY_TRANSITION_VARIANT_ID=
NEXT_PUBLIC_SHOPIFY_ANIME_KIT_VARIANT_ID=
NEXT_PUBLIC_SHOPIFY_ANIME_PRESENTATION_VARIANT_ID=
NEXT_PUBLIC_SHOPIFY_ANIME_NOTES_VARIANT_ID=
NEXT_PUBLIC_SHOPIFY_BINDER_VARIANT_ID=
NEXT_PUBLIC_SHOPIFY_CARE_PLAN_VARIANT_ID=
NEXT_PUBLIC_SHOPIFY_CARE_PLAN_WORKSHOP_VARIANT_ID=
